body{
    background-color: rgb(19, 19, 19);
    
}
.bor{
border: 1px solid white !important;
background-color: rgb(19, 19, 19) !important;
/* background-color: black !important; */
color:white;
}
.fontu{
    font-family: sans-serif;
}
.mar{
margin-right: 75px;

}
@media screen and (max-width:572px) { 
    .mar{
        margin-left: 10px;
    }
}